#firstdiv{
    padding-top: 4px;
}
h1#topic{
    text-align: center;
    font-size: large;
    padding-top: 1px;
    font-family: "Franklin Gothic Heavy";
    font-style:italic;
}
span{
    font-size: 16px;
    font-family:"Times New Roman";
}

nav#headnav{background-color: #18086e;
    font-size: large;

}

div#navbarCollapse{
    background-color: #18086e;
}
ul#headnav{
    color:white
}

footer{
    width:100%;
    height:20%;
    background-color: #18086e;
    position:absolute;
    vertical-align:middle;
    align-items:Center;
}
p#footer1{
    font-size: large;
    color: white;
    text-align:Center;
    padding-top:50px;
}
div#max{
    margin-top:97px;
}
div#introuk{
    margin-top:-30px;
}
