{% extends 'rango/base.html' %}
{% load rango_template_tags %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block sidebar_block %}
   {% get_category_list category %}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">About</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 ">
        <figure class="figure">
          <img src="{% static 'images/uk.png' %}" class="figure-img img-fluid rounded" alt="Picture of UK">
          <figcaption class="figure-caption text-middle"></figcaption>
        </figure>
    </div>
    <div class="col-md-8">
        <div class="container">
            MyITTeam is the web site that provides the tour information.<br/>
            The user can get the most liked cities in left area like London, Manchester, Edinburgh, Glasgow, Bath and York.<br/>
            In the top, there are three buttons including home, about and logout.<br/>
            In the right area, there are my views spot like Big Ben. This page can be available for all the users.<br/>
            If the user wants to customize their own tour page, they need to sign up. After the user login, they will see my page.<br/>
            In this page, the user can see my added cities and the user can add the cities and delete the cities.<br/>
            In the meantime, the user can add the spot.<br/>
            In addition, the user can click the about button to enter the about page which can learn this site how to use.<br/>
            <br/>
            <br/>
            <br/>
            <p>Visits: {{ visits }}</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
{#<img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />#}
{% endblock %}