{% extends 'rango/base.html' %}
{% load rango_template_tags %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block sidebar_block %}
   {% get_category_list category %}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">About</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 ">
        <figure class="figure">
          <img src="{% static 'images/uk.png' %}" class="figure-img img-fluid rounded" alt="Picture of UK">
          <figcaption class="figure-caption text-middle"></figcaption>
        </figure>
    </div>
    <div class="col-md-8">
        <div class="container">
            <br/>
            <br/>
            <br/>
            MyITTeam is the web site that provides the British tour information.
            The user will enter the about page that can learn how to use this web site.
            The user can get popular cities in left area like London, Manchester, Glasgow and get corresponding spots at the right area in home page.
            In the top, there are three buttons including home, about and logout.
            If the user wants to customize their own tour page, they need to sign up and login. After the user login, they will see my page.
            In my page, the user can see my added cities and sceneries and the user can add the cities.
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
{#<img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />#}
{% endblock %}