{% extends 'rango/base.html' %}
{% load rango_template_tags %}
{% load staticfiles %}

{% block title_block %}
    Add a Scenery
{% endblock %}

{% block sidebar_block %}
   {% get_mycity_list city user %}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Add a Scenery to {{ city.name }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <form role="form" id="user_liked_scenery_form" method="post" action="{% url 'rango:add_scenery' city.slug user.username %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
                <div class="p-2"></div>
            {% endfor %}
            <br />
            <button class="btn btn-primary" type="submit" name="submit">Add Scenery</button>
            <div class="p-5"></div>
        </form>
    </div>
</div>
{% endblock %}