{% extends 'rango/base.html' %}
{% load rango_template_tags %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block sidebar_block %}
   {% get_category_list city %}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Home</h1>
        <div>
            <h2 class="h2">
            {% if user.is_authenticated %}
                Hi, {{ user.username }}!
            {% else %}
                Welcome!
            {% endif %}
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>People Most Liked Cities</h2>
                    <p class="card-text">
                    {% if cities %}
                    <ul class="list-group">
                    {% for city in cities %}
                        <li class="list-group-item"><a href="{% url 'rango:show_scenery' city.slug %}">{{ city.name }}</a></li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no cities present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>People Most Viewed Sceneries</h2>
                    <p class="card-text">
                    {% if sceneries %}
                    <ul class="list-group">
                    {% for scenery in sceneries %}
                        <li class="list-group-item"><a href="{{ scenery.url }}">{{ scenery.title }}</a></li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no sceneries present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}