{% extends 'rango/base.html' %}
{% load rango_template_tags %}
{% load staticfiles %}

{% block title_block %}
    {% if city %}
        {{ city.name }}
    {% else %}
        Unknown City
    {% endif %}
{% endblock %}

{% block sidebar_block %}
   {% get_category_list category %}
{% endblock %}

{% block body_block %}
    {% if city %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ city.name }}</h1>
            {{ city.intro }}
        </div>
    </div>
    {% if sceneries %}
        {% for scenery in sceneries %}
            <div class="jumbotron p-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                               <div class="row no-gutters">
                                   <div class="col-md-3">
                                       <img src="{{ STATIC_URL }}{{ scenery.picture }}" class="img-fluid rounded" alt="Picture of trust" />
                                   </div>
                                   <div class="col-md-9">
                                       <div class="card-body">
                                           <blockquote class="blockquote text-center">
                                           <h5 class="card-title"><a href="{{ scenery.url }}">{{ scenery.title }}</a></h5>
                                           </blockquote>
                                           <p class="card-text">{{ scenery.intro }}</p>
                                       </div>
                                   </div>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <strong>No scenery currently in city.</strong>
    {% endif %}
    {% else %}
    The specified city does not exist.
    {% endif %}
{% endblock %}